{
    "extends": "eslint:recommended",
    "env": {
       "browser": true,
       "node": true
    },
    "rules": {
        "no-loop-func": 2,
        "no-console": 1,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    },
    "plugins": ["react"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    }
}